:root {
  --color-primary-dark: rgba(49, 38, 26, 1);
  --color-primary-light: rgba(250, 244, 234, 1);
  --color-brand-normal: rgba(129, 155, 87, 1);
  --color-brand-dark: rgba(70, 89, 41, 1);
  --color-brand-light: rgba(207, 207, 188, 1);
  --color-secondary-dark: rgba(161, 130, 104, 1);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
